@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playpen+Sans:wght@100..800&family=Playwrite+VN:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --main-color-1: #2B4074;
    --main-color-2: #FFFFFF;
    --text-color-1: #FFFFFF;
    --text-color-2: #2B4074;
}
*{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    margin: 0;
    border: none;
}
header{
    background: var(--main-color-1);
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#menu-burger{
    background: var(--main-color-2);
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.intro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    color:var(--text-color-1);
    font-family: Roboto Condensed;
    align-items: center;
    height: 668px;
    background: url(../images/bg-img.jpg) no-repeat center center / cover;
}
.intro-content{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-height: 34rem;
}
#intro-title{
    font-size: 6rem;
    margin: 0;
}
#mini-line{
    display: none;
    background-color: #4A4A4A;
    padding: 0.25rem 2rem ;
    margin: 0.6rem 0 1.8rem 0;
}
#intro-text{
    margin: 1.8rem 0 1.5rem 0;
    font-size: 1.5rem;
}
#intro-bg{
    font-size: 1.125rem;
    width: 200px;
    height: 50px;
    border-radius: 3px;
    background: var(--main-color-1);
    color: var(--text-color-1);
}
.promo{
    padding: 1rem;
    display: flex;
    align-items: center;
    min-height: 12rem;
    background: var(--main-color-1);
    justify-content: space-around;
}
.promo-info{
    color: var(--text-color-1);
}
#promo-title{
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    font-weight: 500;
}
#promo-text{
    font-size: 1rem;
    font-family: "Dosis", sans-serif;    
    font-weight: 300;

}
#promo-call-button{
    margin-top: 0.8rem;
    height: 50px;
    width: 200px;
    border-radius: 3px;
    background-color: var(--main-color-2);
    color: var(--text-color-2);
    font-size: 1.125rem;
    font-weight: 500;
}
.blue{
    background: var(--main-color-1);
}
.white{
    background: var(--main-color-2);
}
.line{
    display: block;
    width: 100px;
    height: 8px;
}
.services{
    display: flex;
    flex-wrap: wrap;
    min-height: 34rem;
}
.services-info{
    padding-left: 4rem;
    display: flex;
    flex: 1 1 32rem;
    flex-direction: column;
    justify-content: center;    

}
.services-list{
display: grid;
 grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(2, 17rem);
flex: 1 1 57rem;

}
.title-h2{
    font-size: 4rem;
    margin-bottom: 4rem;
    color: var(--text-color-2);
}
#service-topic{
    font-size: 1.5rem;
    color: #4A4A4A;
    margin-bottom: 1.9rem;
}
#service-description{
    font-size: 1rem;
    margin-top: 1.9rem;
    color: #797979;
}
.cards{
border: 1px solid #F9F6E5;

display: flex;
padding: 0.5rem 0.3rem;
align-items: center;
justify-content: center;
}
.cards-inside{
    overflow: hidden;
    position: relative;
    min-height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0  auto;
    height: 100%;
    border: 0.3rem solid;
    transition: border-color 100ms;
    border-color: rgba(255, 255, 255, 0);

}
.cards-inside:hover{
    border-color: var(--main-color-1);
    
}
.cards-content > h3, a, .portfolios > h2{
    font-family: "Roboto" Condensed;
    font-weight: 700;
    letter-spacing: 2px;
}
.cards-content > h3, a, .portfolios > h2{
    font-size: 1rem;
    color: #4A4A4A;
}
.cards-content > p{
    margin: 2.2rem 0 1.5rem;
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 500;
    color: #9B9B9B;

}
.cards-content > a{
    text-decoration: none;
    color: var(--text-color-2);
}
.cards-content {
    min-width: 9rem;
    display: flex;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.cards-content > img {
    display: inline-block;
    height: 4rem;
    margin-bottom: 1.2rem;
}

.cards-content > p, 
.cards-content > a {
    opacity: 0;
    transform: translateY(10rem);
    transition: transform 0.5s ease,  opacity 0.5s ease;
}
.cards-inside:hover .cards-content > p, 
.cards-inside:hover .cards-content > a {
    transform: translateY(0rem);
    opacity: 1;
}

.cards-content{
    transform: translateY(4rem);
    transition: transform 0.5s ease;
}
.cards-inside:hover .cards-content{
    transform: translateY(0rem);
}





.portfolio{
    align-items: center;
    flex-direction: column;
    min-height: 20rem;
    flex-wrap: wrap;
    text-align: center;
    background: linear-gradient(to bottom, var(--main-color-1), var(--main-color-2));
}
.portfolio, .portfolios, .portfolio-row, .img-portfolio{
    display: flex;
    
}
#portfolio-block{
    display: flex;
    margin: 4rem 0;
    width: 80%;
    gap: 2rem;
    flex-wrap: wrap;
    
}
.portfolio-row{
    /* align-items: space-around; */
    flex: 1 1 24rem;
    gap: 2rem;
    flex-wrap: wrap;
}
.portfolios{
    flex: 1 1 15rem;
    flex-direction: column;
    text-align: center;
}
.portfolios > h2{
    font-size: 1rem;
}
.img-portfolio{
    aspect-ratio: 7 / 6;    
    align-items: center;
    justify-content: center;
    background: url(../images/Portfolio-4.png) center center / cover;
    transition: transform 200ms;
    
}
.img-portfolio > div{
    display: flex;
    width: 95%;
    height: 95%; 
    justify-content: center;
    align-items: center;
    background-color: #ffffffaa;   
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.2s;
}
.img-portfolio:hover > div{
     opacity: 1; 
    }

.img-portfolio:hover{
    transform: scale(1.05);
}
.portfolios > h2{
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--text-color-2);
}

#title-h2-portfolio{
    font-family: "Roboto" Condensed;
    margin: 4rem 0 2rem 0;
    font-weight: 400;
    font-size: 3rem;
    color: white;
}
.portfolio-buttons{
    width: 15%;
    margin: 0.5rem;
    
}


@media (width < 1440px) {
   .title-h2{
    text-align: center;
   } 
    #intro-title{
        font-size: 5rem;
    }
    #intro-text{
        font-size: 1.125rem;
    }
    .intro{
    height: 618px;
    }
}

@media (width < 1024px) {
   .title-h2{
    margin-bottom: 2rem;
    } 
    .services-list{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4, 18rem);

    }
    #intro-title{
        font-size: 3.75rem;
    }
    .intro{
    height: 465px;
    }
}

@media (width <= 640px) {
.services-info{
    padding-left: 0rem;
    text-align: center;
    align-items: center;
    }
    .intro{
    height: 386px;
    }
    #intro-text{
        display: none;
    }
    #mini-line{
        display: block;
    }
    .promo{
        min-height: 15.6rem;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

@media (width <= 320px) {
    .services-list{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(8, 20rem);
    }
    .intro{
    height: 200px;
    }
    #intro-title{
        font-size: 1.75rem;
    }
    #intro-bg{
        display: none;
        margin-bottom: 0;
    }
    .promo{min-height: 18.5rem;
    }
}
